@import "utils";

section.nft-section {
  background: $primary-color;
  color: $text-light;
  height: 100vh !important;
  max-width: 100% !important;

  .nft {
    max-width: 93%;
    margin: 0 auto;
    display: flex;
    padding: 16.25em 0;

    .nft-rhs {
        position: relative;
        width: 100%;
        transform: translateY(20px);
        
        & > img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
            border-radius: 10px;
        }

        & > img:nth-child(1) {
            transform: rotate(-26.02deg);
            z-index: 2;
        }

        & > img:nth-child(2) {
            transform: translateX(200px) translateY(-140px) rotate(17.76deg);
            z-index: 1;
        }

        & > img:nth-child(3) {
            transform: translateX(270px) translateY(112px) rotate(-8.76deg);
            z-index: 3;
        }


    }

    .nft-lhs {
        margin-right: 7.625rem;
      button.button {
        border: 0;
        padding: 1em 1.875em;
        font-size: 1rem;
        border-radius: 10px;
        background: $text-light;
      }

      .nft-lhs-copy {
        margin-bottom: 3.75rem;

        & > h1 {
          font-size: 3rem;
          margin-bottom: 2rem;
        }

        & > p {
          font-size: 1.125rem;
          line-height: 35px;
          width: 26rem;
        }
      }
    }
  }
}
