section.home-section {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}
section.home-section .hero-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 3.75rem;
}
section.home-section .hero-container .hero-left {
  color: #434343;
  width: 41em;
}
section.home-section .hero-container .hero-left form.hero-search {
  display: flex;
  place-items: center;
  align-items: center;
}
section.home-section .hero-container .hero-left form.hero-search input {
  border: 1px solid #A3A3A3;
  border-radius: 8px 0px 0px 8px;
  padding: 1.25em 1rem;
  font-size: 1em;
  padding-right: 7.125em;
}
section.home-section .hero-container .hero-left form.hero-search button.search-button {
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border: 0;
  border-radius: 0px 8px 8px 0px;
  padding: 1.31em 5.5rem;
  color: #FFFFFF;
  font-size: 1em;
  transform: translateX(-20px);
}
section.home-section .hero-container .hero-left .hero-left-copy {
  margin-bottom: 1.5rem;
}
section.home-section .hero-container .hero-left .hero-left-copy > h1 {
  font-size: 3.5rem;
  line-height: 140%;
  font-weight: 400;
  margin-bottom: 3rem;
}
section.home-section .hero-container .hero-left .hero-left-copy > h1 span.text-secondary {
  background: linear-gradient(180deg, #A02279 79.31%, rgba(255, 192, 137, 0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
}
section.home-section .hero-container .hero-left .hero-left-copy > p {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 35px;
}
section.home-section .hero-container .hero-right-container {
  margin-left: 6.25em;
  display: flex;
  align-items: center;
}
section.home-section .hero-container .hero-right-container .hero-right {
  display: grid;
  height: 100%;
  gap: 0.5em;
  width: 100%;
  transform: translateY(37.5px);
}
section.home-section .hero-container .hero-right-container .hero-right > img {
  display: grid;
  border-radius: 15px;
  width: 100%;
}
section.home-section .hero-container .hero-right-container .hero-right > img:nth-child(1) {
  grid-row-start: 2;
  transform: translateY(-75px);
}
section.home-section .hero-container .hero-right-container .hero-right > img:nth-child(2) {
  grid-row-start: 3;
  transform: translateY(-75px);
}
section.home-section .hero-container .hero-right-container .hero-right > img:nth-child(3) {
  align-self: flex-start;
  grid-column: 2/3;
}
section.home-section .hero-container .hero-right-container .hero-right > img:nth-child(4) {
  grid-column: 2/3;
}

@media screen and (max-width: 890px) {
  .home-section .hero-container {
    flex-direction: column;
    text-align: center;
  }
  .home-section .hero-container .hero-left {
    margin: 0 auto;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
  }
  .home-section .hero-container .hero-left form.hero-search {
    display: flex;
    margin: 0 auto !important;
  }
  .home-section .hero-container .hero-left form.hero-search input {
    padding-right: 14rem !important;
  }
  .home-section .hero-container .hero-left .hero-left-copy {
    margin-bottom: 3rem !important;
  }
  .home-section .hero-container .hero-left .hero-left-copy > h1 {
    margin-bottom: 0.4rem !important;
    line-height: 120% !important;
  }
  .home-section .hero-container .hero-left .hero-left-copy > p {
    font-size: 1.35rem !important;
    width: 95%;
  }
  .home-section .hero-container .hero-right-container {
    margin-left: 0 !important;
  }
}

/*# sourceMappingURL=home.css.map */
